body {
	font-family: sans-serif;
	color: white;
	background-color: #0E1116;
}

a {
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	#BodyContainer {
		width: 70%;
		height: auto;
		background-color: red;
		padding: 30px;
	
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
	
		margin: auto;
		text-align: center;
	}
}

#BodyContainer {
    width: 40%;
    height: auto;
    background-color: #090C11;
	padding: 30px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	text-align: center;
}

#LogoImg {
	width: 50%;
	top: auto;
}

#h1 {
	font-family: sans-serif;
	font-size: 10vw;
	margin: auto;
}

#MailingList {
    width: 40%;
    height: 75%;
    background-color: red;
	padding: 30px;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}