body {
	font-family: sans-serif;
	color: white;
}

a {
	color: white;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}
  
	#Header {
		font-family: sans-serif;
		font-size: 24pt;
		color: black;
	}
}

#BodyContainer {
    width: 40%;
    height: 75%;
    background-color: red;
	padding: 30px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	text-align: center;
}

#LogoImg {
	size: auto;
}

#Header {
	font-family: sans-serif;
	font-size: 48pt;
}

#MailingList {
    width: 40%;
    height: 75%;
    background-color: red;
	padding: 30px;
	
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}