.BodyContainer {
    width: 33%;
    height: 33%;
    background-color: red;
	padding: 5%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#BodyText {
	
}